apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: netbird
  namespace: {{ netbird_namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: {{ vault_secret_store }}
    kind: ClusterSecretStore
  target:
    name: netbird
    creationPolicy: Owner
  data:
    - secretKey: stunServer
      remoteRef:
        key: {{ vault_kv_mount }}/data/{{ vault_kv_path }}
        property: stun_server
    - secretKey: turnServer
      remoteRef:
        key: {{ vault_kv_mount }}/data/{{ vault_kv_path }}
        property: turn_server
    - secretKey: turnServerUser
      remoteRef:
        key: {{ vault_kv_mount }}/data/{{ vault_kv_path }}
        property: turn_server_user
    - secretKey: turnServerPassword
      remoteRef:
        key: {{ vault_kv_mount }}/data/{{ vault_kv_path }}
        property: turn_server_password
    - secretKey: relayPassword
      remoteRef:
        key: {{ vault_kv_mount }}/data/{{ vault_kv_path }}
        property: relay_password
    - secretKey: datastoreEncryptionKey
      remoteRef:
        key: {{ vault_kv_mount }}/data/{{ vault_kv_path }}
        property: datastore_encryption_key
    - secretKey: idpClientID
      remoteRef:
        key: {{ vault_kv_mount }}/data/{{ vault_kv_path }}
        property: idp_client_id
    - secretKey: idpServiceAccountUser
      remoteRef:
        key: {{ vault_kv_mount }}/data/{{ vault_kv_path }}
        property: idp_service_account_user
    - secretKey: idpServiceAccountPassword
      remoteRef:
        key: {{ vault_kv_mount }}/data/{{ vault_kv_path }}
        property: idp_service_account_password
{% if netbird_use_postgres %}
    - secretKey: postgresDSN
      remoteRef:
        key: {{ vault_kv_mount }}/data/{{ vault_kv_path }}
        property: postgres_dsn
{% endif %}
